// position
//--------------------------------------------- */

// position
@mixin poa_top_left($top: 0, $left: 0) {
	position: absolute;
	top: $top;
	left: $left;
}
@mixin poa_top_right($top: 0, $right: 0) {
	position: absolute;
	top: $top;
	right: $right;
}
@mixin poa_btm_left($bottom: 0, $left: 0) {
	position: absolute;
	bottom: $bottom;
	left: $left;
}
@mixin poa_btm_right($bottom: 0, $right: 0) {
	position: absolute;
	right: $right;
	bottom: $bottom;
}
@mixin poa_all($top: 0, $right: 0, $bottom: 0, $left: 0) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}
//ã€€center
@mixin poa_mid($top: 0, $right: 0, $bottom: 0, $left: 0) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	margin: auto;
}
