//=====================================================
//
// Table Style
//
// =====================================================

/* type 1
--------------------------------------------- */
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .table
