//=====================================================
//
// Title Style
//
// =====================================================

/* Primary
--------------------------------------------- */
.title--primary {
  @if $type == all {// set All Devices and SmartPhone
    width: 100%;
  } @else if $type == tab {// set Tablet
  } @else if $type == pc {// set PC
  }// @if
}// .title--primary

/* Secondary
--------------------------------------------- */
.title--secondary {
  @if $type == all {// set All Devices and SmartPhone
    width: 100%;
  } @else if $type == tab {// set Tablet
  } @else if $type == pc {// set PC
  }// @if
}// .title--secondary

/* tertiary
--------------------------------------------- */
.title--tertiary {
  @if $type == all {// set All Devices and SmartPhone
    width: 100%;
  } @else if $type == tab {// set Tablet
  } @else if $type == pc {// set PC
  }// @if
}// .title--tertiary
