// display
//--------------------------------------------- */

// clearfix
@mixin cf {
  &:after {
    @if $support_regacy_opera {
      content: " ";
    } @else {
      content: "";
    }// @iif
    display: block;
    clear: both;
  }// &:after
}

// inline-block
@mixin ib($pos: middle, $minify: false) {
  display: inline-block;
  vertical-align: $pos;
  @if (not $minify) {
   letter-spacing: normal;
  }
}
