// =====================================================
//
// VARIABLES
//
// =====================================================

// Site config
// ---------------------------------------------

// Browser support
$support_regacy_opera: false;

// Media Query
$mq-breakpoints: (
  'tab'  : 600px,
  'pc'   : 960px,
  'wide' : 1281px,
);


// Css config
// ---------------------------------------------

// Assign Site Width
$site_width: 1140px;
$ct_gutter: 12px;

// Use sprite
$use_sprite: false;
$use_sprite_retina: false;

// Use utility css
$use_css_utility: true;
  // Use spacing classes
  $use_space_class: true;
  // Use text-style classes
  $use_text_class: true;
  // Use layout-style classes
  $use_layout_class: true;


// Font
// ---------------------------------------------

// Base font-size
$font_size: 16;
// Base line-height
$line_height: 1.6;

// Base font-family
$font_family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;


// Element
// ---------------------------------------------

// element margin
$base_mg: 10px;

// element padding
$base_pd: 10px;
