/* ===========================================
 Sprite
=========================================== */
.spr {
	display: block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
$spr-sprite-dimensions: true;
$spr-spacing: 15px;
@import "spr/*.png";
@include all-spr-sprites;
