//=====================================================
//
// layout - Grid System
//
// =====================================================

/**
/* header
--------------------------------------------- */
.l-header {
  @include l-center($site_width, true);
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .l-header


/**
/* nav
--------------------------------------------- */
.l-nav {
  @include l-center($site_width, true);
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .l-nav


/**
 * Contents Wrapper
--------------------------------------------- */
.l-wrap {
  @include l-center($site_width, true);
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}

.l-article {
  display: flex;
  flex-wrap: wrap;
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)

  .grid_item {
    width: 100%;
    padding-right: $ct_gutter;
    padding-left: $ct_gutter;
    @include mq(tab) {
      // float: left;
    }// @include mq(tab)
    @include mq(pc) {
    }// @include mq(pc)
    @include mq(wide) {
    }// @include mq(wide)
  }// .grid_item

  .l-guest {
    @include mq(tab) {
      // float: left;
      width: percentage(4/12);
    }// @include mq(tab)
    @include mq(pc) {
      width: percentage(2/12);
    }// @include mq(pc)
    @include mq(wide) {
    }// @include mq(wide)
  }// .l-guest

  .l-main {
    margin-top: 20px;
    @include mq(tab) {
      // float: left;
      width: percentage(8/12);
      margin-top: 0;
    }// @include mq(tab)
    @include mq(pc) {
      width: percentage(7/12);
    }// @include mq(pc)
    @include mq(wide) {
    }// @include mq(wide)
  }// .l-main

  .l-aside {
    margin-top: 20px;
    @include mq(tab) {
      // float: right;
      width: percentage(8/12);
      margin-left: auto;
    }// @include mq(tab)
    @include mq(pc) {
      width: percentage(3/12);
      margin-top: 0;
    }// @include mq(pc)
    @include mq(wide) {
    }// @include mq(wide)
  }// .l-aside

}// .l-article

.grid_inner {
  background: rgba(#f00, .25);
  height: 80px;
  text-align: center;
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .grid_inner

.column-debug {
  flex: 1;
  background: rgba(blue, .25);
  // width: calc((100% - 24px * 12) / 12);
  height: 80px;
  margin-right: $ct_gutter;
  margin-left: $ct_gutter;
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .column-debug


/**
/* footer
--------------------------------------------- */
.l-footer {
  @include l-center($site_width, true);
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .l-footer
