//=====================================================
//
// form Style
//
// =====================================================

/* チェックボックス
--------------------------------------------- */
html:not(.ie) .ui_input {
	@if $type == all {// set All Devices and SmartPhone
		position: relative;
		.input__item, .input__item--half {
			position: relative;
		}// .input__item, .input__item--half
		input[type="radio"],
		input[type="checkbox"] {
	    //display: none;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: -10;
		}// .input[type="radio"], input[type="checkbox"]
		input[type="radio"] + label,
		input[type="checkbox"] + label {
			position: relative;
			@include ib;
			@include fs(14);
			padding-left: 22px;
			cursor: pointer;
			z-index: 10;
			&:before {
				content: "";
				@include middle(0, auto, 0, 0);
				display: block;
				width: 18px;
				height: 18px;
				background-color: $ui_input_bg_color;
				border: 1px solid $ui_input_bdr_color;
			}// &:before
		}// input[type="radio"] + label, input[type="checkbox"] + label
		input[type="radio"] + label:before {
			-o-border-radius: 30px;
			border-radius: 30px;
		}// input[type="radio"] + label:before
		input[type="radio"]:checked + label,
		input[type="checkbox"]:checked + label {
			color: $ui_input_checked_color;
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				display: block;
			}// &:after
		}// input[type="radio"]:checked + label, input[type="checkbox"]:checked + label
		input[type="radio"]:checked + label:after {
			left: 6px;
			width: 8px;
			height: 8px;
			margin-top: -4px;
			background: $ui_input_checked_color;
			border-radius: 8px;
		}// input[type="radio"]:checked + label:after
		input[type="checkbox"]:checked + label:after {
			left: 3px;
			width: 16px;
			height: 8px;
			margin-top: -10px;
			border-left: 3px solid $ui_input_checked_color;
			border-bottom: 3px solid $ui_input_checked_color;
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}// input[type="checkbox"]:checked + label:after
		&.ui_input--onlybox {
			width: 20px;
			height: 20px;
			input[type="radio"] + label,
			input[type="checkbox"] + label {
				width: 20px;
				height: 20px;
				vertical-align: top;
			}// input[type="radio"] + label, input[type="checkbox"] + label
		}// &.ui_input--onlybox
	}// @if
}// .ui_checkbox
.ie .ui_input {
	@if $type == all {// set All Devices and SmartPhone
		.input__item, .input__item--half {
			line-height: 1.2;
			overflow: hidden;
			zoom: 1;
			input[type="radio"],
			input[type="checkbox"] {
				float: left;
				margin: 2px 3px 0 0;
				margin-top: 0\9;
			}// input[type="radio"], input[type="checkbox"], label
		}// .input__item, .input__item--half
		label {
			@include fs(14);
			cursor: pointer;
		}// label
	}// @if
}// .ie .ui_input


/* セレクトメニュー
--------------------------------------------- */
html:not(.ie) .ui_select {
	@if $type == all {// set All Devices and SmartPhone
		background-color: $ui_select_bg_color;
		border: 1px solid $ui_select_bdr_color;
		position: relative;
		@include ib;
		z-index: 1;
		&:before {
			display: block;
			content: "▼";
			line-height: 28px;
			@include fs(14);
			padding-right: $base_pd * .5;
			@include middle(0, 0, 0, auto);
			z-index: -1;
		}
		&:hover, &:focus {
			border: 1px solid $ui_select_bdr_color_hover;
		}// &:hover, &:focus
		&:active {
			border: 1px solid $ui_select_bdr_color_active;
		}// &:active
		select {
			background-color: transparent;
			display: block;
			@include fs(14);
			width: 100%;
			height: 28px;
			line-height: normal;
			margin: 0;
			padding: 0 ($base_pd * 2) 0 ($base_pd * .375);
			//padding: 0 0 0 ($base_pd * .375);
			border: 0 none;
			box-shadow: none;
			cursor: pointer;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			option {
				text-shadow: none;
			}// option
		}// select
	}// @if
}// .ui_select
html:not(.ie) :-moz-any(.ui_select):before {
	@if $type == all {// set All Devices and SmartPhone
		background-color: #FFF; /* this is necessary for overcome the caret default browser */
		pointer-events: none; /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events  */
		z-index: 1; /* this is necessary for overcome the pseudo element */
	}// @if
}
.ie .ui_select {
	@if $type == all {// set All Devices and SmartPhone
		@include ib;
		select {
			@include fs(14);
		}// select
	}// @if
}// .ie .ui_select


/* アコーディオンメニュー
--------------------------------------------- */
.ui_accordion {
	@if $type == all {// set All Devices and SmartPhone
		.ui_accordion--head {
			position: relative;
			cursor: pointer;
		}// .ui_accordion--head
		.ui_accordion--body {
			display: none;
		}// .ui_accordion--body
	}// @if
}// .ui_accordion

